@import url('http://fonts.cdnfonts.com/css/valorant');

.App {
  text-align: center;
  font-family: 'VALORANT', sans-serif;
  color: #fff;
  /* background-color: #BD3944; */
}

p {
  font-size: 12px;
}

h1 {
  font-size: 38px;
}